.auth__list {
    display: flex;
    margin-left: auto;

    @media screen and (max-width:767px) {
        display: none;
    }

    @media screen and (min-width:767px) and (max-width:1199px) {
        display: block;
    }



    & .item+.item {
        @media screen and (min-width:1200px) {
            margin-left: 50px;
        }

        @media screen and (max-width:1199px) {
            margin-left: 0;
        }
    }

}

.auth__item:first-child {
    @media screen and (max-width:1199px) {
        margin-bottom: 10px;
    }
}

.auth__item {

    @media screen and (min-width:1200px) {
        margin-bottom: 0;
    }
}

.auth__link {
    @media screen and (min-width:1200px) {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        padding-top: 32px;
        padding-bottom: 32px;

        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
    }

    color: var(--main-text-color);
    transition: color 250ms var(--cubic);

    @media screen and (min-width:768px) {
        display: inline-flex;
        gap: 8px;
        font-weight: 500;
        font-size: 12px;
        line-height: calc(14/12);
        padding: 0;

    }

   &:hover,
   &:focus {
       text-decoration: none;
       color: var(--acctent-color);
   }

   &--actual {
       color: var(--acctent-color);
   }
   

   @media screen and(min-width:768px) and(max-width:1199px){
    color:var(--main-text-color)
   }
}
.auth__icon {
    fill: currentColor;
}