.auth__list {
    display: none;
    display: flex;
    margin-left: auto;

    @media screen and(max-width:767px) {
            display: none;
        }
    @media screen and(win-width:768px) {
        display: inline-block;
        flex-wrap: wrap;
        gap:10px ;
    }    

& .item+.item {
    margin-left: 50px;

    @media screen and (win-width:768px) {

       margin: 0;
    }
}
}


.auth__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--main-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;

    transition: color 250ms var(--cubic);
    
    @media screen and (win-width:768px) {
    
            display: block;
            font-weight: 500;
                font-size: 12px;
                line-height: calc(14/12);
        }
    &:hover,
    &:focus {
    text-decoration: none;
    color: var(--acctent-color);
   }

    &--actual {
    color: var(--acctent-color);
   }
}

.auth__icon {
    fill: currentColor;
}