.footer {

    padding-top: 60px;
    padding-bottom: 60px;

    background: var(--main-bg-color);
}
.footer__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    @media screen and (min-width:768px) {
        align-items: baseline;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;

    }

    @media screen and (min-width:1200px) {
        align-items: baseline;
    
        justify-content: space-between;

    }

}
 .footer-contact {
         margin-bottom: 60px;
         text-align: center;
        @media screen and (max-width:767px) {
                width: 100%;
            }
    
    @media screen and (min-width:1200px) {
            max-width: 231px;
            margin-bottom: 0;
            text-align: start;
     }
     

}


.footer-logo__link {

    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    color: var(--title-text-color);
    text-decoration: none;
}

.footer-logo__accent {
    color: var(--acctent-color);

    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

}

.footer__footer-logo {
    margin-bottom: 20px;
}

.footer__address {
    margin-bottom: 8px;
    color: var(--title-text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}


.footer__link {

    color: var(--title-text-color);
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

.footer__item:not(:last-child) {
    margin-bottom: 8PX;
}


