.logo {
    display: block;
    padding-top: 24px;

    color: #000000;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;

    @media screen and (min-width:480px) {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    @media screen and (min-width:768px) {
        padding-top: 26px;
        padding-bottom: 26px;

    }

   @media screen and (min-width:1200px) {
    padding-top: 24px;

   }


    &__text--accent {
    color: var(--acctent-color);

    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}


}