.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding: 40px;
    width: 528px;
    height: 581px;
    background-color: var(--primary-br-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: translate 250ms var(--cubic), scale 250ms var(--cubic);

    @media screen and(min-width:480px) and (max-width:1199px) {
      width: 450px;
      height: 609px;  
    }
}

.modal-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;
    padding: 0;

    background-color: var(--primary-br-color);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: fill 250ms var(--cubic);

&__icon:hover,
&__icon:focus {
    fill: var(--acctent-color);

}
}