.nav {
    display: none;
    display: flex;
}

.nav__nav-logo {
    margin-right: 93px;
}

.nav__list {
    display: flex;
@media screen and(max-width:767px){
    display: none;
}

& .item:not(:last-child) {
    margin-right: 50px;
}
}
.nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;

    transition: color 250ms var(--cubic);


&:hover,
&:focus {
    color: var(--acctent-color);

}

&--current {
    position: relative;
    color: var(--acctent-color);

}
}

.nav__link--ferst::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;

    display: inline-block;

    width: 100%;
    height: 4px;
    background-color: var(--acctent-color);
    border-radius: 2px;
}

