.product__list {
    display: flex;
    flex-wrap: wrap;
    gap:30px

}

.overlay-card {
    position: relative;
    overflow: hidden;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    color: var(--acctent-color);
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform 250ms var(--cubic);



.product__link:hover &{
    transform: translateY(0);
    opacity: 1;
}
}

.overlay__text {
    padding: 63px 24px;
    color: var(--primary-br-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;

}

.product__item {
  
    border: 1px solid var(--br-color);
    transition: background-color 250ms var(--cubic), box-shadow 250ms var(--cubic);

        @media screen and (min-width:768px) {
            flex-basis: calc((100% - 30px * (2 - 1)) / 2);
            
    
        }
    
        @media screen and (min-width:1200px) {
            flex-basis: calc((100% - 30px * (3 - 1)) / 3);
        width: 370px;
    
        }

    


&:hover {

    background-color: var(--primary-br-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

}

&:nth-last-child(-n+3) {
    margin-bottom: 0;
}
}

.card {
    border: 1px solid var(--br-color);
    padding: 20px 24px;



&__title {
    color: var(--primary-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;

}

&__text {
    color: var(--main-text-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;

}
}