.sing-footer {
    display: block;
}

.sing-footer__title {
    //width: 219px;
    margin-top: 0;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--primary-br-color);
/*@media screen and (max-width:1199px) {
        text-align: center;
    }*/

}

.sing-footer__label {
    display: inline-flex;
    align-items: center;
    margin-right: 12px;
    @media screen and (max-width:1199px) {
            margin-bottom: 20px;
        }
}

.sing-footer__input {
    display: inline-flex;
    padding: 15px 16px;
    width: 358px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;

    color: #FFFFFF99;
    background: #2F303A;
    border-radius: 4px;
    border: 1px solid #FFFFFF4D;
    box-shadow: 0px 4px 4px 0px #00000026;

    outline: transparent;

}

.sing-btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 28px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;

    color: var(--primary-br-color);

    background: var(--acctent-color);
    border-radius: 4px;
    border: none;
    transition: box-shadow 250ms var(--cubic);


    &:hover,
    &:focus {
        box-shadow: 0px 4px 4px 0px #00000015;
    }

    &__icon {
        width: 24px;
        height: 24px;
        padding: 0;

        fill: var(--primary-br-color);

    }
}