
.socials-footer__list {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    @media screen and(min-width:480px) {
         margin-bottom: 60px;
    }
}


.socials-footer__title {
    //width: 145px;
    margin-top: 0;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--primary-br-color);
    text-align: center;
}

.socials-footer__link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    color: var(--primary-br-color);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: color 250ms var(--cubic), background-color 250ms var(--cubic);
    

&:hover,
&:focus {
    color: var(--primary-br-color);
    background-color: #2196f3;
}
}

.socials-footer__icon {
    fill: var(--primary-br-color);
}