.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--back-color);
    text-align: center;

@media screen and (max-width:1199px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

&__title {
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--primary-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;

}

&__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
}

.team__item {
width: 450px;
    background: var(--primary-br-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

@media screen and (min-width:768px) {
        flex-basis: calc((100% - 30px * (2 - 1)) / 2);
        width: 740px;

    }

    @media screen and (min-width:1200px) {
        flex-basis: calc((100% - 30px * (4 - 1)) / 4);
        width: 1200px;

    }


&__img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 0;

}
}

.team__card {
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 0px 0px 4px 4px;
}

.team__name {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}
.team__speciality {
    margin-top: 0;
    margin-bottom: 16px;


    color: var(--main-text-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
}
