.menu-btn{
    position: absolute;
    top: 10px;
    right: 10px;

    display:flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    padding: 0;

    background: transparent;
    border: none;

&__icon:hover,
&__icon:focus{
    background: transparent;
}

@media screen and (min-width: 768px){
    display: none;
} 
 
}

.menu-overlay{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

  
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);

    
    transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);

@media screen and (min-width: 768px) {
        display: none;

opacity: 0;
pointer-events: none;
visibility: hidden;

&.is-open {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
}
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    padding: 0;

    background-color: var(--primary-br-color);
    border: none;
    cursor: pointer;

    &__icon:hover,
    &__icon:focus {
        fill: var(--acctent-color);

    }
}
.menu-container{
    display: block;
    flex-direction: column;

    margin-left: auto;
    width: 480px;
    padding: 48px 40px;
    height: 100%;   
    background: var(--title-text-color);

    transform: translateY(100%);
    transition: transfom var(--cubic);

.menu-overlay.is-open & {
    transform: translateX(0);
}
}

.menu-overlay__list{
    display: inline-block;

}
.menu-overlay__list:first-child {
    margin-bottom: auto;

}

.menu-overlay__list-contact:nth-child(2){
    margin-bottom: 64px;
}

.menu-overlay__item:not(:last-child){
    
    margin-bottom: 32px;
}

.menu-overlay__link{
color: var(--primary-text-color);

    font-weight: 500;
    font-size: 40px;
    line-height: calc(47/40);
    
&--current{
color: var(--acctent-color);
}

&--actual{
    color: var(--acctent-color);
}
}

 .menu-overlay__list-social{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  

}
.menu-overlay__link-social{
    
    color: var(--acctent-color);

    font-weight: 500;
    font-size: 18px;
    line-height: calc(22/18); 
}
.menu-overlay__item-social:not(:last-child) .menu-overlay__link-social{
   display: flex;
    
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
        
}
