.main__title {
    width: 696px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 30px;

    color: var(--title-text-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.lifestyle__title {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--primary-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.about__title {
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--primary-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
.team__title {
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--primary-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;

}
.companys__title {
    margin: auto;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: var(--primary-text-color);
}
.sing-footer__title {
    //width: 219px;
    margin-top: 0;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--primary-br-color);
}
.card__title {
    color: var(--primary-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;

}
.form__title {
    display: block;
    width: 448px;
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    color: #212121;

}
