:root {
    /*text color*/
    --primary-text-color: #212121;
    --main-text-color: #757575;
    --title-text-color: #ffffff;
    /*acctent color*/
    --acctent-color: #2196f3;
    --acctent-bg-color: #188ce8;
    --acctent: #AFB1B8;
    /*bottoms color*/
    --primary-br-color: #ffffff;
    --main-bg-color: #2f303a;
    --bordor-solid: #ECECEC;
    --back-color: #F5F4FA;
    --br-color: #EEEEEE;
    /*other*/
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}